# Copie este arquivo para .env e preencha os valores

# Banco de dados
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/orbitamos
SPRING_DATASOURCE_USERNAME=orbitamos
SPRING_DATASOURCE_PASSWORD=orbitamos123

# JWT
JWT_SECRET=troque-por-uma-chave-secreta-longa

# Cloudinary (storage de avatars)
CLOUDINARY_CLOUD_NAME=dt6srlfcj
CLOUDINARY_API_KEY=828728432781183
CLOUDINARY_API_SECRET=t5r0OZ-8YryM9mkX-xOQJiub3h0
